In [7]:
import torch
from torch import nn, optim

from torch.utils.data import DataLoader, Dataset

import matplotlib.pyplot as plt

import numpy as np
import pandas as pd

In [8]:
if torch.cuda.is_available():
    device = torch.device("cuda")
else:
    device = torch.device("cpu")
print(device)

cpu

In [4]:
args = {
    "batch_size": 20,
    "num_workers": 4,
    "num_classes": 10,
    "lr": 1e-4,
    "weight_decay": 5e-4,
    "num_epochs": 30
}

# Load Dataset

https://archive.ics.uci.edu/ml/datasets/bike+sharing+dataset

Attribute Information:

Both hour.csv and day.csv have the following fields, except hr which is not available in day.csv

- instant: record index
- dteday : date
- season : season (1:winter, 2:spring, 3:summer, 4:fall)
- yr : year (0: 2011, 1:2012)
- mnth : month ( 1 to 12)
- hr : hour (0 to 23)
- holiday : weather day is holiday or not (extracted from [Web Link])
- weekday : day of the week
- workingday : if day is neither weekend nor holiday is 1, otherwise is 0.
+ weathersit :
- 1: Clear, Few clouds, Partly cloudy, Partly cloudy
- 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist
- 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds
- 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog
- temp : Normalized temperature in Celsius. The values are derived via (t-t_min)/(t_max-t_min), t_min=-8, t_max=+39 (only in hourly scale)
- atemp: Normalized feeling temperature in Celsius. The values are derived via (t-t_min)/(t_max-t_min), t_min=-16, t_max=+50 (only in hourly scale)
- hum: Normalized humidity. The values are divided to 100 (max)
- windspeed: Normalized wind speed. The values are divided to 67 (max)
- casual: count of casual users
- registered: count of registered users
- cnt: count of total rental bikes including both casual and registered

In [10]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00275/Bike-Sharing-Dataset.zip
!unzip Bike-Sharing-Dataset.zip

--2021-11-29 22:40:45--  https://archive.ics.uci.edu/ml/machine-learning-databases/00275/Bike-Sharing-Dataset.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 279992 (273K) [application/x-httpd-php]
Saving to: ‘Bike-Sharing-Dataset.zip’

Bike-Sharing-Datase 100%[===================>] 273.43K  --.-KB/s    in 0.03s

2021-11-29 22:40:45 (7.67 MB/s) - ‘Bike-Sharing-Dataset.zip’ saved [279992/279992]

Archive:  Bike-Sharing-Dataset.zip
  inflating: Readme.txt
  inflating: day.csv
  inflating: hour.csv

In [11]:
!ls

Bike-Sharing-Dataset.zip  day.csv  hour.csv  Readme.txt  sample_data

# DataViz

In [13]:
df = pd.read_csv('hour.csv')
print(df.shape)
df.head()

(17379, 17)

   instant      dteday  season  yr  ...  windspeed  casual  registered  cnt
0        1  2011-01-01       1   0  ...        0.0       3          13   16
1        2  2011-01-01       1   0  ...        0.0       8          32   40
2        3  2011-01-01       1   0  ...        0.0       5          27   32
3        4  2011-01-01       1   0  ...        0.0       3          10   13
4        5  2011-01-01       1   0  ...        0.0       0           1    1

[5 rows x 17 columns]

# Dataset split

https://pytorch.org/docs/stable/generated/torch.randperm.html

In [32]:
torch.manual_seed(10)

# train set = 80%
train_size = int(0.8 * df.shape[0])

# random rows
idx = torch.randperm(df.shape[0]).tolist()

df_train = df.iloc[idx[:train_size]]
df_test = df.iloc[idx[train_size:]]

print('train samples: {}, test samples: {}'.format(df_train.shape[0], df_test.shape[0]))

train samples: 13903, test samples: 3476

In [33]:
df_train.to_csv('bike_train.csv', index=False)
df_test.to_csv('bike_test.csv', index=False)

# Build dataset

In [ ]:
class MyDataset(Dataset):
    def __init__(self, csv_path:str):
        
        self.data = pd.read_csv(csv_path).to_numpy()

    def __getitem__(self, idx):

    def __len__(self):